.video-card {
 overflow: hidden;
 width: 400px;
}

.thumbnail {
 width: 360px;
 height: 205px;
 object-fit: cover;
 border-radius: 10px;
}

.thumnail-img {
 position: relative;
}

.play {
 position: absolute;
 z-index: 999;
  top: 50%;
  right: 50%;
  transform: translate(0, -50%);
  color: #fff;
  font-size: 3em;
  background: rgba(44, 44, 44, 0.5);
}

.details-section {
 display: flex;
 justify-content: space-between;
 margin-top: 10px;
 gap: 15px;
}

.details-section img {
 width: 40px;
 height: 40px;
 border-radius: 50%;
}

.details {
 margin-right: auto;
 display: inline;
}

.details p {
 margin: 5px 0;
}

.views-time {
 display: flex;
}

.views-time p {
 margin: 0 2px;
}

.video-card {
  position: relative;
}

.close-btn{
  position: absolute;
  right: 4em;
  z-index: 999;
  cursor: pointer;
}

.edit {
  position: absolute;
  right: 7em;
  z-index: 999;
}